@model MRU.Web.Models.Category.CategoryModel

<div>
    <div class="page-header">
        <h1><i class="fa fa-plus"></i> Add Category</h1>
    </div>

    @using (Html.BeginForm("Add", "Category", FormMethod.Post))
    {
        <fieldset>
            @Html.LabelFor(m => m.Name)
            @Html.TextBoxFor(m => m.Name, new {@class = "CategoryName"})
        </fieldset>
        <fieldset>
            @Html.LabelFor(m => m.ParentId)
            @Html.TextBoxFor(m => m.ParentId, new { @class = "CategoryParentId" })
        </fieldset>
        <a id="AddSubmit" class="fa fa-plus-circle btn btn-success"> Add Category</a>
        <a id="AddCancel" class="fa fa-times btn btn-warning"> Cancel</a>
    }
</div>
<script type="text/javascript">
    $("#AddCancel").click(function () {
        $("#categoryModal").modal('hide');
    });

    $("#AddSubmit").click(function () {
        var data = {};
        data.Name =  $(".CategoryName").val();
        data.ParentId = $(".CategoryParentId").val();
        $.ajax({
            type: "POST",
            url: "@Url.Action("Add", "Category", new { area = "Admin" })",
            data: data,
            cache: false,
            success: function (data) {
                if (data > 0) { $("#categoryModal").modal('hide'); }
            },
            error: function (data) { console.log("error");}
        });

        console.log('');

        });
</script>