<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mirrors-R-Us</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/Angular")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Mirrors-R-Us", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Return Policy", "Return", "Home")</li>
                    <li>@Html.ActionLink("Products", "Index", "Product")</li>
                    @if (Request.IsAuthenticated)
                    {
                        if (User.IsInRole("Admin"))
                        {
                            <li>@Html.ActionLink("Admin", "Index", "Admin", new { area = "admin" }, null)</li>
                        }
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        <div class="col-sm-4 col-md-2 sidebar">
            <div class="list-group">
                <a href="#" class="list-group-item">
                    <i class="fa fa-home"></i> Admin Home
                </a>
                <a href="/Admin/Category/" class="list-group-item">
                    <i class="fa fa-database"></i> Categories
                </a>
                <a href="/Admin/Product" class="list-group-item">
                    <i class="fa fa-bookmark"></i> Products
                </a>
                <a href="#" class="list-group-item">
                    <i class="fa fa-building"></i> Manufacturers
                </a>
                <a href="#" class="list-group-item">
                    <i class="fa fa-users"></i> Customers <span class="badge">12</span>
                </a>
                <a href="#" class="list-group-item">
                    <i class="fa fa-folder-open-o"></i> Orders <span class="badge">14</span>
                </a>
                <a href="#" class="list-group-item">
                    <i class="fa fa-ticket"></i> Promotions
                </a>
                <a href="#" class="list-group-item">
                    <i class="fa fa-cogs"></i> Configure
                </a>
            </div>
        </div>
        <div class="col-md-10">


            @RenderBody()
        </div>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year Mirrors-R-Us</p>
        </footer>
 

    
    @RenderSection("scripts", required: false)
</body>
</html>
